.nav-treeview>.nav-item>.nav-link.active {
	background: transparent !important;
	color: #fff !important;
}
.nav-treeview>.nav-item>.nav-link.active i {
	transition:all 0.5s ease-in-out;
	animation:blink normal 1s infinite ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.rel {
	position: relative;
}

#mobile .btn-group {
	width: 100%;
}
#mobile .btn-group button.btn {
	border-radius: 0;
	width: 33.33%;
	position: relative;
}

#mobileMenu button.btn.btn-primary:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #007bff;
	border-width: 8px;
	margin-left: -8px;
}

#mobile .mobileContentTab {
	display: none;
}
#mobile .mobileContentTab.activeTab {
	display: block;
}



@media (max-width:1200px) {
	.nomobile {
		display: none !important;
	}
}


.isLink {
	cursor: pointer;
}



.alertBar .alert {
	background: #000;
	padding: 0;
	margin: 3px auto;
	width: 100%;
	border-radius: 0;
	cursor: pointer;
}
.alertBar .alert .alert-title {
	background: #000;
	opacity: 0.5;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	display: block;
	padding-left: 5px;
	line-height: 18px;
}
.alertBar .alert .alert-title i {
	margin-right: 6px;
}
.alertBar .alert .alert-content {
	font-size: 11px;
	color: #fff;
	padding: 5px;
	line-height: 16px;
	margin: 0;
}
table.table td.actions a.btn {
	margin-right: 4px;
	display: inline-block;
	overflow: auto;
}
table.table td {
	vertical-align: middle;
}
table.nowrap td {
	white-space: nowrap;
}


.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
	display: inline-block;
	margin: 10px 0;
	width: 50%;
}
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate {
	text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
	margin-left: 10px;
	border: 1px solid #555;
	font-size: 12px;
	color: #333;
	padding: 0 5px;
	line-height: 20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button  {
	margin: 0 3px;
	text-decoration: none;
	border: 1px solid #999;
	color: #999;
	padding: 0 5px;
	line-height: 20px;
	cursor: pointer;
}


.nav-tabs {
	border: 0 none;
	margin-bottom: 15px;
}
.nav-tabs li {
	margin-right: 15px;
	background: transparent;

}
.nav-tabs li a {
	padding: 0 10px;
	line-height: 35px;
	transition: all 0.3s ease;
	color: #007bff;
}
.nav-tabs li a:hover,
.nav-tabs li a.active {

	background: #007bff;
	color: #fff;
}
.nav-tabs li a {
	color : inherit;
}


#as400Table {
	font-size: 11px;
}
#as400Table th, #as400Table td {
	padding: 2px;
	line-height: 14px;
	white-space: normal;
	vertical-align: middle;
}


.card .card-header i {
  margin-right: 15px;
}
.card .card-header .btn {
	float: right;
	margin: 0 8px;
}
.card .card-body h5 {
	margin: 15px auto 30px auto;
	height: 10px;
	line-height: 10px;
	text-align: center;
	border-bottom: 1px solid #aaa;
	color #aaa;
	font-size: 12px;
}
.card .card-body h5 span {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	background: #fff;
	padding: 0 10px;
	text-transform: uppercase;
}

.tc {
	text-align: center !important;
}

i.ml {
	margin-left: 15px;
}
.sizedBtn {
	width: 80%;
	margin: 10px auto;
}
.sizedBtn .btn {
	width: 100%;
}


#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5000;
	background: #000;
	opacity: 0.5;
}

.rel {

}
.rel #loader {
	position: absolute;
	min-height: 250px;
}

.spinner-box {
  width: 150px;
  height: 150px;
	position: fixed;
	bottom: 20px;
	right: 20px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
	z-index: 5001;
}

.rel #loader .spinner-box {
position: absolute;
}

.circle-border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(63,249,220);
  background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
  animation: spin .8s linear 0s infinite;
}

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #1d2630;
  border-radius: 50%;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

.table-condensed {
	font-size: 12px;
}
.table-condensed td {
	padding: 4px;
}
#vTable tbody tr:hover {
	cursor: pointer;
	background: #ddd;
}


#page-visites i.fa-camera {
	margin-left: 5px;
}
#vTable-wrapper .btn-group {
	float: right;
	margin: 10px 0;
}
#vTable-wrapper .btn-group button {
	background: #fff;
	color: #555;
	border: 0 none;
}
#vTable-wrapper .btn-group button:hover,
#vTable-wrapper .btn-group .selected {
	background: #486a59;
	color: #fff;
}
#disclaimer {
	background: #486a59;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;
	font-size: 15px;
}
#page-visites #today h4,
#page-visites #today b {
	color: #486a59;
}


#logsTable i {
	float: right;
	font-size: 10px;
	font-style: normal;
	color: #ddd;
}
#logsTable tr:hover i {
	color: #333;
	font-size: 12px;
}
